<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Haskell Learning Trails - HLT01 - Getting Started</title>

		<link rel="stylesheet" href="../../css/reveal.css">
		<link rel="stylesheet" href="../../css/theme/hlt.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="../../lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '../../css/print/pdf.css' : '../../css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div id="header">
				
			</div>
			<img src="/images/HIG-Logo-White-300.png" alt="HIG Logo" id="logo"/>

			<div id="footer" style="font-size: 15px">
					Haskell Learning Trails by <a href="https://t.me/haskellindia"> Haskell India Group </a> is licensed under a <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License.</a>
			</div>
			 
			<!-- ALL SLIDES BEGIN HERE -->
			<div class="slides">				
				<!-- SLIDE 1: Title slide -->	
				<section>
				    <!-- DO NOT CHANGE THE NEXT LINE -->
					<h2>Haskell Learning Trails</h2>

					<!-- Next line: CHANGE THE TITLE to the title of your HLT series -->
					<h4>HLT01: Getting Started</h4>

					<!-- DO NOT CHANGE ANYTHING BELOW IN THIS SLIDE -->
					<div style="width: 80%; font-style: normal; font-family: 'Courier New', Courier, monospace;font-size: 20px">
<p>This material was created by a group of Haskell enthusiasts in the <a href="https://t.me/haskellindia">Haskell India Group (HIG)</a>. This group is an India-focussed Haskell Group on Telegram, meant primarily to connect Haskellers across India, and to complement existing personal meetups at various places in India. If you are interested to be a part of this group, and contribute to the growth of Haskell usage in India (either as a start-up, big company, independent professional, hobbyist, student, teacher / lecturer / professor, university, etc.), please join this group: <a href="https://t.me/haskellindia">https://t.me/haskellindia</a> and help India!</p>

<p>Please feel free to share this material to anybody you think would be interested! And, if you would like to contribute to this learning trails, head here: <a href="https://github.com/haskellindia/haskellindia.github.io">https://github.com/haskellindia/haskellindia.github.io</a></p>
					</div>
				</section>
				
				<!-- Actual slide contents begin from here -->
				<!-- SLIDE 2 -->
				<section data-markdown>
					<!-- Everything in the text-area is in markdown format -->
					<textarea data-template>
					<!-- Slide title: Change the next line. Let all slide titles be preceded by ##. -->
					## Single column slide
						
					Some content goes here
					
					- Bullet point 1
					- Buller point 2														 									
					</textarea>
				</section>

				<!-- SLIDE 3 -->
				<section>		
					<!-- Slide title: Change the next line. Let all slide titles be <h2>. -->
					<h2>Double column slide</h2>
					
					<!-- Left side content -->
					<div class="left" style="float:left; width: 47%; text-align: left;" data-markdown>
					<!-- Everything in the text-area is in markdown format -->						
					<textarea data-template>
					Left-side information
					- First item
					- Second item
					</textarea>
					</div>

					<!-- Right side content -->
					<div class="right" style="float:left; width: 47%; text-align: left;" data-markdown>
					<!-- Everything in the text-area is in markdown format -->												
					<textarea data-template>
					Right-side information
					- First item
					- Second item
					</textarea>
					</div>
				</section>
				
				<!-- This must be the last slide. Add all slide-sections above this line. -->
				<section data-markdown="credits.md"></section>
			</div>
			<!-- SLIDES END HERE -->
		</div>

		<script src="../../lib/js/head.min.js"></script>
		<script src="../../js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: '../../plugin/markdown/marked.js' },
					{ src: '../../plugin/markdown/markdown.js' },
					{ src: '../../plugin/notes/notes.js', async: true },
					{ src: '../../plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>