/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: rgb(255, 255, 255);

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 26px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

#header 
{
	background-color: #c55a11; 
	text-align: left; 
	vertical-align: middle; 
	line-height:10%;
	height: 10%;
	top: 0;
	left: 0;
	right: 0;	
	position: fixed;
}

#footer 
{
	background-color: #f8cbad; 
	text-align: center; 
	vertical-align: middle; 
	line-height:5%;
	height: 5%;
	position: absolute;
	bottom: 10px;
	right: 0px;
	left: 0px;
	overflow: hidden;
}

#footer-text
{
	margin-bottom: 0px; 
	margin-top: 0.5%; 
	line-height: 100%;
}

.footer-icon
{
	float: left; 
	height: 100%;
	margin-top: 0.5%;
}

#logo 
{
	width: 77px; 
	height: 57px; 
	z-index: 2; 
	position: fixed; 
	bottom: 10px; 
	right: 0;
}

#section-heading
{
	font-size: 60px;
}

#section-brief
{
	font-size: 24px;
	color: rgb(137, 137, 137)
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------